/* MAIN */
body {
  font-family: 'Spectral', serif;
  color: black;
  font-weight: 700;
  background-color: white;
  font-size: 14px;
}



/** HEADER **/
#header-nav {
  background-color: white;
}
.nav-link {
  text-transform: uppercase;
}
.nav-item {
  font-size: 14px;
}
.dropdown-item
  {
    font-size: 13px;
}
@media (min-width: 768px) {
  .nav-item
  {
   font-size: 16px;
  }
  .dropdown-item
  {
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  .nav-item
  {
   padding: 0 0.9em;
   font-size: 18px;
  }
  .dropdown-item
  {
    font-size: 17px;
  }
}



/** CAROUSEL **/
.carousel-caption{
  color:black;
  text-align: left;
}
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

